{% extends "base.html" %}

{% block title %}About |{% endblock %}

{% block nav_li_class_about %} class="current"{% endblock %}>

{% block header%}
<h1>About Django People</h1>
{% endblock %}

{% block content %}{% load humanize %}
<div class="about">
<p>Django People lists {{ total_people|apnumber }} <a href="http://www.djangoproject.com/">Django</a> developers from around the world, in {{ countries|length|apnumber }} different countries. The aim of the site is to help Django developers find like-minded souls near them, and hopefully kick-start some local meet-ups and user groups.</p>

<p>You can post feedback and bug reports on <a href="http://simonwillison.net/2008/Jan/23/djangopeople/">this blog entry</a>.</p>

<p>The site was built by <a href="/simon/">Simon Willison</a> and <a href="/natbat/">Natalie Downe</a>.</p>

<h2>Colophon</h2>

<p>Country data and location lookups come from <a href="http://www.geonames.org/">GeoNames</a>, while the maps themselves are powered by the <a href="http://code.google.com/apis/maps/">Google Maps API</a>. Country flags and icons are by <a href="http://famfamfam.com/lab/icons/">Mark James</a>; US state flags come <a href="http://en.wikipedia.org/wiki/Flags_of_the_U.S._states" title="Flags of the U.S. states">from Wikipedia</a>.</p>

<p>The site uses <a href="http://code.google.com/p/django-tagging/">django-tagging</a> by <a href="/insin/">Jonathan Buchanan</a> for the <a href="/skills/">skills feature</a>, and <a href="http://code.google.com/p/sorl-thumbnail/">sorl-thumbnail</a> by <a href="/sorl/">Mikko Hellsing</a> and <a href="/smileychris/">Chris Beaven</a> for thumbnailing. <a href="http://simonwillison.net/2008/Jan/24/upgrade/" title="Django People: OpenID and microformats">OpenID support</a> (used by {{ openid_users }} people) depends on <a href="http://openidenabled.com/python-openid/">python-openid</a> (version 1.2.0)  and <a href="http://code.google.com/p/django-openid/">django-openid</a>.</p>

<p>Deployment is <a href="http://code.google.com/p/modwsgi/">mod_wsgi</a> running on <a href="http://httpd.apache.org/">Apache 2</a> behind an <a href="http://nginx.net/">nginx</a> proxy. The site is hosted on a <a href="http://www.linode.com/">Linode.com</a> virtual machine.</p>

<p><a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangojoint107x25.gif" border="0" alt="A Django joint." title="A Django joint."></a></p>

</div>
{% endblock %}
