{% extends "base.html" %}

{% block title %}Account settings |{% endblock %}

{% block nav_li_class_account %} class="current"{% endblock %}

{% block js %}
{% endblock %}

{% block header%}
<h1>Account settings</h1>
{% endblock %}

{% block content %}
<ul>
  <li><a href="/{{ user.username }}/location/">Change your location</a></li>
  <li><a href="/{{ user.username }}/finding/">Update your contact details</a></li>
  <li><a href="/{{ user.username }}/finding/#privacy">Change your privacy settings</a></li>
  <li><a href="/{{ user.username }}/portfolio/">Add sites to your portfolio</a></li>
  <li>{% if user.has_usable_password %}<a href="/{{ user.username }}/password/">Change your password</a>{% else %}You do not have a password set - <a href="/{{ user.username }}/password/">set one now?</a>{% endif %}</li>
</ul>
<br>
{% with user.useropenid_set.count as ocount %}
<p class="help">{% if ocount %}You have {{ ocount }} OpenID{{ ocount|pluralize }} associated with your account. <a href="/openid/associations/">Manage your OpenID{{ ocount|pluralize }}</a>{% else %}If you have an <a href="http://openid.net/">OpenID</a>, you can <a href="/openid/associations/">associate it with your account</a>. This will allow you to log in using your OpenID instead of your password.{% endif %}</p>
{% endwith %}

    <h2>Advanced: Use your profile page as an OpenID</h2>
    <form method="post" action="/{{ user.username }}/account/">
    <p class="help">
        If you already have an OpenID, you can configure your Django People profile page to delegate to it. This means you'll be able to use your profile page as an OpenID, without having to sign in to Django People first.
    </p>
    <p class="help">
        Read <a href="http://simonwillison.net/2006/Dec/19/openid/">more about delegation</a> to learn how to use this form.
    </p>
    
    <fieldset>
        <div class="fieldWrapper">
            {{ form.openid_server.errors }}
            <label for="id_openid_server">OpenID server</label>
            {{ form.openid_server }} (e.g. <samp>http://www.myopenid.com/server</samp>)
        </div>
        <div class="fieldWrapper">
            {{ form.openid_delegate.errors }}
            <label for="id_openid_delegate">OpenID delegate</label>
            {{ form.openid_delegate }} (e.g. <samp>http://yourname.myopenid.com/</samp>)
        </div>
    </fieldset>
    <div class="buttonContainer"><input type="submit" value="Update OpenID delegation"></div>
    </form>

{% endblock %}
