{% extends "base.html" %}

{% block title %}Active on IRC in the past hour{% endblock %}

{% block js %}{% load thumbnail %}
{% if results %}
<script src="http://www.google.com/jsapi?key={{ api_key }}" type="text/javascript">
</script>
<script type="text/javascript">
google.load('maps', '2');

var people = [
    // latitude, longitude, name, username, location description
    {% for person in results %}
    [{{ person.latitude }}, {{ person.longitude }}, "{{ person|escapejs }}", "{{ person.user.username|escapejs }}", "{{ person.location_description|escapejs }}", "{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}/static/img/person_small_blank.png{% endif %}", "{{ person.country.iso_code|lower }}"]{% if not forloop.last %},{% endif %}
    {% endfor %}
];

window.onload = function() {
    window.gmap = new google.maps.Map2(document.getElementById('gmap'));
    gmap.addControl(new google.maps.SmallMapControl());
    gmap.addControl(new google.maps.MapTypeControl());
    // We have to render the map first or the bounds calculations will fail
    gmap.setCenter(new google.maps.LatLng(0, 0));
    var bounds = new google.maps.LatLngBounds();
    
    // Plot the people as markers
    $.each(people, function() {
        var lat = this[0];
        var lon = this[1];
        var name = this[2];
        var username = this[3];
        var location_description = this[4];
        var photo = this[5];
        var iso_code = this[6];
        var point = new google.maps.LatLng(lat, lon);
        var marker = new google.maps.Marker(point, getMarkerOpts());
        bounds.extend(point);
        gmap.addOverlay(marker);
        // Hook up the marker click event
        google.maps.Event.addListener(marker, 'click', function() {
            marker.openInfoWindow(makeWindow(
                name, username, location_description, photo, iso_code, 
                lat, lon
            ));
        });
    });
    gmap.setZoom(Math.min(gmap.getBoundsZoomLevel(bounds) - 1, 8));
    gmap.setCenter(bounds.getCenter());
};
</script>
{% endif %}
{% endblock %}

{% block header %}{% load thumbnail %}
        <h1>Active on IRC in the past hour</h1>
        {% if results %}<p class="meta">{{ results|length }} {% ifequal results.__len__ 1 %}person{% else %}people{% endifequal %}{% else %}No one is currently active{% endif %}
{% endblock %}

{% block map %}
{% if results %}
    <div class="mapContainer major">
        <div id="gmap">&nbsp;</div>
    </div>
{% endif %}
{% endblock %}

{% block content %}
{% if results %}
        <ul class="detailsList split">
        {% for person in results %}
        <li class="vcard">
            <img src="{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}/static/img/person_small_blank.png{% endif %}" alt="{{ person }}" class="main photo">
            <h3><a href="{{ person.get_absolute_url }}" class="url fn n"><span class="given-name">{{ person.user.first_name }}</span> <span class="family-name">{{ person.user.last_name }}</span></a></h3>
            <p class="meta adr"><a href="/{{ person.country.iso_code|lower }}/" class="nobg"><img src="/static/img/flags/{{ person.country.iso_code|lower }}.gif" alt="{{ person.country }}" class="country-name" title="{{ person.country }}"></a> <span class="region">{{ person.location_description }}</span><br><strong>{{ person.irc_nick }}</strong>, active {{ person.last_active_on_irc|timesince }} ago</p>
        </li>
        {% endfor %}
        </ul>
{% endif %}
{% endblock %}

