.flag { float: left; width: 16px; height: 11px; background: url(/static/img/flags/flags.png) no-repeat; margin-right: 3px; }
.iso-ad { background-position: 0 -1px; } 
.iso-ae { background-position: 0 -13px; } 
.iso-af { background-position: 0 -25px; } 
.iso-ag { background-position: 0 -37px; } 
.iso-ai { background-position: 0 -49px; } 
.iso-al { background-position: 0 -61px; } 
.iso-am { background-position: 0 -73px; } 
.iso-an { background-position: 0 -85px; } 
.iso-ao { background-position: 0 -97px; } 
.iso-ar { background-position: 0 -109px; } 
.iso-as { background-position: 0 -121px; } 
.iso-at { background-position: 0 -133px; } 
.iso-au { background-position: 0 -145px; } 
.iso-aw { background-position: 0 -157px; } 
.iso-ax { background-position: 0 -169px; } 
.iso-az { background-position: 0 -181px; } 
.iso-ba { background-position: 0 -193px; } 
.iso-bb { background-position: 0 -205px; } 
.iso-bd { background-position: 0 -217px; } 
.iso-be { background-position: 0 -229px; } 
.iso-bf { background-position: 0 -241px; } 
.iso-bg { background-position: 0 -253px; } 
.iso-bh { background-position: 0 -265px; } 
.iso-bi { background-position: 0 -277px; } 
.iso-bj { background-position: 0 -289px; } 
.iso-bm { background-position: 0 -301px; } 
.iso-bn { background-position: 0 -313px; } 
.iso-bo { background-position: 0 -325px; } 
.iso-br { background-position: 0 -337px; } 
.iso-bs { background-position: 0 -349px; } 
.iso-bt { background-position: 0 -361px; } 
.iso-bv { background-position: 0 -373px; } 
.iso-bw { background-position: 0 -385px; } 
.iso-by { background-position: 0 -397px; } 
.iso-bz { background-position: 0 -409px; } 
.iso-ca { background-position: 0 -421px; } 
.iso-catalonia { background-position: 0 -433px; } 
.iso-cc { background-position: 0 -445px; } 
.iso-cd { background-position: 0 -457px; } 
.iso-cf { background-position: 0 -469px; } 
.iso-cg { background-position: 0 -481px; } 
.iso-ch { background-position: 0 -493px; } 
.iso-ci { background-position: 0 -505px; } 
.iso-ck { background-position: 0 -517px; } 
.iso-cl { background-position: 0 -529px; } 
.iso-cm { background-position: 0 -541px; } 
.iso-cn { background-position: 0 -553px; } 
.iso-co { background-position: 0 -565px; } 
.iso-cr { background-position: 0 -577px; } 
.iso-cs { background-position: 0 -589px; } 
.iso-cu { background-position: 0 -601px; } 
.iso-cv { background-position: 0 -613px; } 
.iso-cx { background-position: 0 -625px; } 
.iso-cy { background-position: 0 -637px; } 
.iso-cz { background-position: 0 -649px; } 
.iso-de { background-position: 0 -661px; } 
.iso-dj { background-position: 0 -673px; } 
.iso-dk { background-position: 0 -685px; } 
.iso-dm { background-position: 0 -697px; } 
.iso-do { background-position: 0 -709px; } 
.iso-dz { background-position: 0 -721px; } 
.iso-ec { background-position: 0 -733px; } 
.iso-ee { background-position: 0 -745px; } 
.iso-eg { background-position: 0 -757px; } 
.iso-eh { background-position: 0 -769px; } 
.iso-england { background-position: 0 -781px; } 
.iso-er { background-position: 0 -793px; } 
.iso-es { background-position: 0 -805px; } 
.iso-et { background-position: 0 -817px; } 
.iso-europeanunion { background-position: 0 -829px; } 
.iso-fam { background-position: 0 -841px; } 
.iso-fi { background-position: 0 -853px; } 
.iso-fj { background-position: 0 -865px; } 
.iso-fk { background-position: 0 -877px; } 
.iso-fm { background-position: 0 -889px; } 
.iso-fo { background-position: 0 -901px; } 
.iso-fr { background-position: 0 -913px; } 
.iso-ga { background-position: 0 -925px; } 
.iso-gb { background-position: 0 -937px; } 
.iso-gd { background-position: 0 -949px; } 
.iso-ge { background-position: 0 -961px; } 
.iso-gf { background-position: 0 -973px; } 
.iso-gh { background-position: 0 -985px; } 
.iso-gi { background-position: 0 -997px; } 
.iso-gl { background-position: 0 -1009px; } 
.iso-gm { background-position: 0 -1021px; } 
.iso-gn { background-position: 0 -1033px; } 
.iso-gp { background-position: 0 -1045px; } 
.iso-gq { background-position: 0 -1057px; } 
.iso-gr { background-position: 0 -1069px; } 
.iso-gs { background-position: 0 -1081px; } 
.iso-gt { background-position: 0 -1093px; } 
.iso-gu { background-position: 0 -1105px; } 
.iso-gw { background-position: 0 -1117px; } 
.iso-gy { background-position: 0 -1129px; } 
.iso-hk { background-position: 0 -1141px; } 
.iso-hm { background-position: 0 -1153px; } 
.iso-hn { background-position: 0 -1165px; } 
.iso-hr { background-position: 0 -1177px; } 
.iso-ht { background-position: 0 -1189px; } 
.iso-hu { background-position: 0 -1201px; } 
.iso-id { background-position: 0 -1213px; } 
.iso-ie { background-position: 0 -1225px; } 
.iso-il { background-position: 0 -1237px; } 
.iso-in { background-position: 0 -1249px; } 
.iso-io { background-position: 0 -1261px; } 
.iso-iq { background-position: 0 -1273px; } 
.iso-ir { background-position: 0 -1285px; } 
.iso-is { background-position: 0 -1297px; } 
.iso-it { background-position: 0 -1309px; } 
.iso-jm { background-position: 0 -1321px; } 
.iso-jo { background-position: 0 -1333px; } 
.iso-jp { background-position: 0 -1345px; } 
.iso-ke { background-position: 0 -1357px; } 
.iso-kg { background-position: 0 -1369px; } 
.iso-kh { background-position: 0 -1381px; } 
.iso-ki { background-position: 0 -1393px; } 
.iso-km { background-position: 0 -1405px; } 
.iso-kn { background-position: 0 -1417px; } 
.iso-kp { background-position: 0 -1429px; } 
.iso-kr { background-position: 0 -1441px; } 
.iso-kw { background-position: 0 -1453px; } 
.iso-ky { background-position: 0 -1465px; } 
.iso-kz { background-position: 0 -1477px; } 
.iso-la { background-position: 0 -1489px; } 
.iso-lb { background-position: 0 -1501px; } 
.iso-lc { background-position: 0 -1513px; } 
.iso-li { background-position: 0 -1525px; } 
.iso-lk { background-position: 0 -1537px; } 
.iso-lr { background-position: 0 -1549px; } 
.iso-ls { background-position: 0 -1561px; } 
.iso-lt { background-position: 0 -1573px; } 
.iso-lu { background-position: 0 -1585px; } 
.iso-lv { background-position: 0 -1597px; } 
.iso-ly { background-position: 0 -1609px; } 
.iso-ma { background-position: 0 -1621px; } 
.iso-mc { background-position: 0 -1633px; } 
.iso-md { background-position: 0 -1645px; } 
.iso-me { background-position: 0 -1657px; } 
.iso-mg { background-position: 0 -1670px; } 
.iso-mh { background-position: 0 -1682px; } 
.iso-mk { background-position: 0 -1694px; } 
.iso-ml { background-position: 0 -1706px; } 
.iso-mm { background-position: 0 -1718px; } 
.iso-mn { background-position: 0 -1730px; } 
.iso-mo { background-position: 0 -1742px; } 
.iso-mp { background-position: 0 -1754px; } 
.iso-mq { background-position: 0 -1766px; } 
.iso-mr { background-position: 0 -1778px; } 
.iso-ms { background-position: 0 -1790px; } 
.iso-mt { background-position: 0 -1802px; } 
.iso-mu { background-position: 0 -1814px; } 
.iso-mv { background-position: 0 -1826px; } 
.iso-mw { background-position: 0 -1838px; } 
.iso-mx { background-position: 0 -1850px; } 
.iso-my { background-position: 0 -1862px; } 
.iso-mz { background-position: 0 -1874px; } 
.iso-na { background-position: 0 -1886px; } 
.iso-nc { background-position: 0 -1898px; } 
.iso-ne { background-position: 0 -1910px; } 
.iso-nf { background-position: 0 -1922px; } 
.iso-ng { background-position: 0 -1934px; } 
.iso-ni { background-position: 0 -1946px; } 
.iso-nl { background-position: 0 -1958px; } 
.iso-no { background-position: 0 -1970px; } 
.iso-np { background-position: 0 -1982px; } 
.iso-nr { background-position: 0 -1994px; } 
.iso-nu { background-position: -17px -1px; } 
.iso-nz { background-position: -17px -13px; } 
.iso-om { background-position: -17px -25px; } 
.iso-pa { background-position: -17px -37px; } 
.iso-pe { background-position: -17px -49px; } 
.iso-pf { background-position: -17px -61px; } 
.iso-pg { background-position: -17px -73px; } 
.iso-ph { background-position: -17px -85px; } 
.iso-pk { background-position: -17px -97px; } 
.iso-pl { background-position: -17px -109px; } 
.iso-pm { background-position: -17px -121px; } 
.iso-pn { background-position: -17px -133px; } 
.iso-pr { background-position: -17px -145px; } 
.iso-ps { background-position: -17px -157px; } 
.iso-pt { background-position: -17px -169px; } 
.iso-pw { background-position: -17px -181px; } 
.iso-py { background-position: -17px -193px; } 
.iso-qa { background-position: -17px -205px; } 
.iso-re { background-position: -17px -217px; } 
.iso-ro { background-position: -17px -229px; } 
.iso-rs { background-position: -17px -241px; } 
.iso-ru { background-position: -17px -253px; } 
.iso-rw { background-position: -17px -265px; } 
.iso-sa { background-position: -17px -277px; } 
.iso-sb { background-position: -17px -289px; } 
.iso-sc { background-position: -17px -301px; } 
.iso-scotland { background-position: -17px -313px; } 
.iso-sd { background-position: -17px -325px; } 
.iso-se { background-position: -17px -337px; } 
.iso-sg { background-position: -17px -349px; } 
.iso-sh { background-position: -17px -361px; } 
.iso-si { background-position: -17px -373px; } 
.iso-sj { background-position: -17px -385px; } 
.iso-sk { background-position: -17px -397px; } 
.iso-sl { background-position: -17px -409px; } 
.iso-sm { background-position: -17px -421px; } 
.iso-sn { background-position: -17px -433px; } 
.iso-so { background-position: -17px -445px; } 
.iso-sr { background-position: -17px -457px; } 
.iso-st { background-position: -17px -469px; } 
.iso-sv { background-position: -17px -481px; } 
.iso-sy { background-position: -17px -493px; } 
.iso-sz { background-position: -17px -505px; } 
.iso-tc { background-position: -17px -517px; } 
.iso-td { background-position: -17px -529px; } 
.iso-tf { background-position: -17px -541px; } 
.iso-tg { background-position: -17px -553px; } 
.iso-th { background-position: -17px -565px; } 
.iso-tj { background-position: -17px -577px; } 
.iso-tk { background-position: -17px -589px; } 
.iso-tl { background-position: -17px -601px; } 
.iso-tm { background-position: -17px -613px; } 
.iso-tn { background-position: -17px -625px; } 
.iso-to { background-position: -17px -637px; } 
.iso-tr { background-position: -17px -649px; } 
.iso-tt { background-position: -17px -661px; } 
.iso-tv { background-position: -17px -673px; } 
.iso-tw { background-position: -17px -685px; } 
.iso-tz { background-position: -17px -697px; } 
.iso-ua { background-position: -17px -709px; } 
.iso-ug { background-position: -17px -721px; } 
.iso-um { background-position: -17px -733px; } 
.iso-us { background-position: -17px -745px; } 
.iso-uy { background-position: -17px -757px; } 
.iso-uz { background-position: -17px -769px; } 
.iso-va { background-position: -17px -781px; } 
.iso-vc { background-position: -17px -793px; } 
.iso-ve { background-position: -17px -805px; } 
.iso-vg { background-position: -17px -817px; } 
.iso-vi { background-position: -17px -829px; } 
.iso-vn { background-position: -17px -841px; } 
.iso-vu { background-position: -17px -853px; } 
.iso-wales { background-position: -17px -865px; } 
.iso-wf { background-position: -17px -877px; } 
.iso-ws { background-position: -17px -889px; } 
.iso-ye { background-position: -17px -901px; } 
.iso-yt { background-position: -17px -913px; } 
.iso-za { background-position: -17px -925px; } 
.iso-zm { background-position: -17px -937px; } 
.iso-zw { background-position: -17px -949px; } 
