{% extends "base.html" %}

{% block title %}Change your password |{% endblock %}

{% block nav_li_class_account %} class="current"{% endblock %}

{% block js %}
{% endblock %}

{% block header%}
<h1>Change your password</h1>
{% endblock %}

{% block content %}
    <form method="post" action="/{{ user.username }}/password/">
    <fieldset>
        <div class="fieldWrapper">
            <label for="id_password1">Password</label>
            <input type="password" name="password1" id="id_password1">
        </div>
        <div class="fieldWrapper">
            <label for="id_password2">Password (again)</label>
            <input type="password" name="password2" id="id_password2">
        </div>
    </fieldset>    
    <div class="buttonContainer"><input type="submit" value="Change password"></div>
    </form>
{% endblock %}