{% extends "base.html" %}

{% block title %}Recover your account |{% endblock %}

{% block js %}
<style type="text/css">
p.message {
    color: red;
}
</style>
{% endblock %}

{% block header%}
<h1>Recover your account</h1>
{% endblock %}

{% block content %}
    <form method="post" action="/recover/">
    <p class="help{% if message %} message{% endif %}">{% if message %}{{ message }}{% else %}Enter your username and we'll send an account recovery link to the e-mail address associated with your account.{% endif %}</p>
    <fieldset>
        <div class="fieldWrapper">
            <label for="id_username">Username</label>
            <input type="text" name="username" id="id_username">
        </div>
    </fieldset>    
    <div class="buttonContainer"><input type="submit" value="Recover account"></div>
    </form>

{% endblock %}
