{% extends "profile.html" %}

{% block title%}Upload a profile photo |{% endblock %}

{% block js %}{% endblock %}
{% block map %}{% endblock %}

    {% block content %}
        <div class="primary">
            <h2>{% if person.photo %}Upload a new profile photo{% else %}Add a profile photo{% endif %}</h2>
            <form enctype="multipart/form-data" method="post" action=".">
                <div class="fieldWrapper">
                    {{ form.photo.errors }}
                    <label for="id_photo">Photo</label>
                    {{ form.photo }}
                </div>
                <p class="help">Photos will be resized and cropped to a 83x83 square; for the best results, make sure you are uploading a square image.</p>                      
                <p><input type="submit" value="Upload"></p>
            </form>

        </div>
    {% endblock %}